/* Google fonts import! */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap");
/* Color codes to use!
dark-gold {color: #8E793E} // Border color!
light-gold {color: #AD974F}
intellectual-grey {color: #231F20} Background color!
light-grey {color: #EAEAEA} Text color!
*/

body {
  margin: auto;
  background-color: #231f20;
  color: #eaeaea;
  font-family: "Raleway", sans-serif;
}

h1 {
  background-image: url(../images/bg-img.png);
  background-position: center center;
  background-size: contain;
  overflow: cover;
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin: 0;
  padding: 5px;
}

button {
  background-color: #ad974f;
  border: 2px solid black;
  border-radius: 10px;
  color: #eaeaea;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

button:active {
  background: radial-gradient(
    circle,
    rgba(55, 255, 0, 0.8) 0%,
    rgba(142, 121, 62, 1) 70%
  );
}
.bactive {
  background: radial-gradient(
    circle,
    rgba(55, 255, 0, 0.8) 0%,
    rgba(142, 121, 62, 1) 70%
  );
}
/*  Tabs section styles! */
.tab-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0 10px 0;
}
.tab {
  cursor: pointer;
  display: inline-block;
  background-color: #8e793e;
  padding: 0px 5px 0px 5px;
  margin: 2px;
  text-align: center;
  border: 2px black solid;
  border-radius: 5px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.tab:hover {
  background-color: #ad974f;
}
.tab-content .content {
  display: none;
}

.tab-content .content.tabActive {
  display: block;
}

/* Reusable flex container with column */
.container-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Reusable flex container with row */
.container-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 2px 20px 0px 20px;
}
.menu-btn {
  width: 80px;
  height: 25px;
}
/* Volume designs! */
#volume-status {
  font-size: 12px;
  margin: 0;
  padding: 5px;
  width: 80px;
}
.master-vol-btn {
  width: 30px;
  height: 30px;
  padding: 5px;
  margin: 0;
}
/* Playstatus  on things*/
.play-status {
  opacity: 1;
}
/* Drum Machine Styles! */
.pad-container {
  display: flex;
  padding: 2px;
  justify-content: center;
}
.pad {
  height: 75px;
  width: 75px;
}
.pad-container button p,
kbd {
  margin: 0;
  font-weight: bolder;
}

/* Sequencer Styles! */
#key-press {
  font-style: capitalize;
}
#play-btn {
  padding: 10px;
}
.seq-blocks {
  display: flex;
}

.sequencer {
  cursor: pointer;

  display: flex;
  width: 60px;
  height: 60px;
  margin: 5px;

  background-color: #eaeaea;
  border: 3px solid #8e793e;
  border-radius: 5px;

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Loops Styles */

.btn-rr {
  height: 37.5px;
  width: 65px;
}
